@model IEnumerable<Internship.Models.AssetDetail>
@{
	ViewData["Title"] = "Asset Detail List";
}

<h2>Asset Detail List</h2>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>SN</th>
			<th>AssetId</th>
			<th>AssetCode</th>
			<th>Price</th>
			<th>PurchaseDate</th>
			<th>Status</th>
			<th>Remarks</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var assetDetail in Model)
		{
			<tr>
				<td>@assetDetail.Sn</td>
				<td>@assetDetail.AssetId</td>
				<td>@assetDetail.AssetCode</td>
				<td>@assetDetail.Price</td>
				<td>@assetDetail.PurchaseDate</td>
				<td>@assetDetail.Remark</td>
				<td>@assetDetail.Status</td>
				<td>
					<a asp-action="Edit" asp-route-id="@assetDetail.Sn" class="btn btn-warning">Edit</a>
					<a asp-action="Details" asp-route-id="@assetDetail.Sn" class="btn btn-info">Details</a>
					<a asp-action="Delete" asp-route-id="@assetDetail.Sn" class="btn btn-danger">Delete</a>
				</td>
			</tr>
			
		}
	</tbody>
</table>


<a asp-action="Create" class="btn btn-primary">Add New Asset Detail</a>