@model IEnumerable<Internship.Models.AssetCategory>
@{
	ViewData["Title"] = "Asset Category";
}

<h2>Asset CategoryList</h2>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>CatID</th>
			<th>CatName</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var assetCategory in Model)
		{
			<tr>
				<td>@assetCategory.CatID</td>
				<td>@assetCategory.CatName</td>
				<td>
					<a asp-action="Edit" asp-route-CatID="@assetCategory.CatID" class="btn btn-warning">Edit</a>
					<a asp-action="Details" asp-route-CatID="@assetCategory.CatID" class="btn btn-info">Details</a>
					<a asp-action="Delete" asp-route-CatID="@assetCategory.CatID" class="btn btn-danger">Delete</a>
				</td>
			</tr>

		}
	</tbody>
</table>


<a asp-action="Create" class="btn btn-primary">Add New Asset Category</a>