@model IEnumerable<Internship.Models.Asset>
@{
	ViewData["Title"] = "Asset";
}

<h2>Asset</h2>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>AssetId</th>
			<th>Name</th>
			<th>ShortName</th>
			<th>Description</th>
			<th>Unit</th>
			<th>CatID</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var asset in Model)
		{
			<tr>
				<td>@asset.AssetId</td>
				<td>@asset.Name</td>
				<td>@asset.ShortName</td>
				<td>@asset.Description</td>
				<td>@asset.Unit</td>
				<td>@asset.CatID</td>
				<td>
					<a asp-action="Edit" asp-route-id="@asset.AssetId" class="btn btn-warning">Edit</a>
					<a asp-action="Details" asp-route-id="@asset.AssetId" class="btn btn-info">Details</a>
					<a asp-action="Delete" asp-route-id="@asset.AssetId" class="btn btn-danger">Delete</a>
				</td>
			</tr>

		}
	</tbody>
</table>


<a asp-action="Create" class="btn btn-primary">Add New Asset</a>